<!-- Footer Start -->
    <div class="container-fluid footer bg-light py-5" style="margin-top: 90px;">
        <div class="container text-center py-5">
            <div class="row">
                <div class="col-12 mb-4">
                    <a href="index.html" class="navbar-brand m-0">
                        <h1 class="m-0 mt-n2 display-4 text-primary"><span class="text-secondary">Potion</span>MAGIQUE</h1>
                    </a>
                </div>

                <div class="col-12 mt-2 mb-4">
                    <div class="row">
                        <div class="col-sm-6 text-center text-sm-right border-right mb-3 mb-sm-0">
                            <a href="https://github.com/FlenderGit" target="_blank">
                                <h5 class="font-weight-bold mb-2">Tristan Deloeil</h5>
                            </a>
                        </div>
                        <div class="col-sm-6 text-center text-sm-left">
                            <a href="https://github.com/Q-Lukyss" target="_blank">
                                <h5 class="font-weight-bold mb-2">Quentin Lachery</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-2 mb-4">
                    <h3>Nos Réseaux</h3>
                    <div class="d-inline-flex align-items-center">
                       <a class="text-black px-3" href="#" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-black px-3" href="#" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                                <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
                            </svg>
                        </a>
                        <a class="text-black px-3" href="#" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-black pl-3" href="#" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
                
                <div class="col-12">
                    <p class="m-0">&copy; <a href="/">Domain</a>. Tous droits réservés. Designed par <a href="https://htmlcodex.com" target="_blank">HTML Codex</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->