 <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 pb-5">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="img/cocktails.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-md-3">La Potion Magique</h4>
                            <h1 class="display-3 text-white mb-md-4">Créer et Partager vos recettes de Cocktails</h1>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Inscription</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- Carousel End -->